<div class="registerForm">


  <h2>Register</h2>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <div class="input">
      <label for="registerEmail">Email</label>
      <input type="email" id="registerEmail" name="email" [(ngModel)]="registerData.email" required>
    </div>

    <div class="input">
      <label for="registerPassword">Password</label>
      <input type="password" id="registerPassword" name="password" [(ngModel)]="registerData.password" required>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>