.registerForm {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  & .input {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    & input {
      border: 1px solid black;
    }
  }

  & button {
    border: 1px solid black;
    padding: 5px;
  }
}
